/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body{
    width: 100%;
    font-family: "Trebuchet MS";
}
.price{
    margin-left: 273px;
    }
.head h2{
    font-size:30px;
    font-weight: bold;
    color:#41525c;
    text-transform: uppercase;
    text-align: center;
    margin: 55px 0 62px 0;
}
.blue, .orange, .green{
    display: inline-block;
    width: 298px;

   }
.blue{
    height: 445px;
    border: 1px solid #e8eaec;
    border-radius: 10px;
    float: left;
    position: relative;
   }
.bhead{
    background-color: #37c2d3;
    border: 1px solid #37c2d3;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 63px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  padding-top: 10%;
}
.orange{
    height: 472px;
    border: 3px solid #ec8136;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    position: relative;
    margin-top: -18px;
}
.ohead{
    background-color: #ec8136;
    border: 1px solid #ec8136;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 63px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15%;
}
.green{
    height: 445px;
    border: 1px solid #e8eaec;
    border-radius: 10px;
    float: right;
    position: absolute;
    }
.ghead{
    background-color: #1cb79a;
    border: 1px solid #1cb79a;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 63px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10%;
}
.mblue p{
    color:#3f4042;
    font-size: 24px;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 29px;
}
.mblue p span{
    font-size: 72px;
}
.mblue p sup{
    font-size: 36px;
}
.mblue p sub{
    font-size: 18px;
}
.morange p{
    color:#3f4042;
    font-size: 24px;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 29px;
}
.morange p span{
    font-size: 72px;
}
.morange p sup{
    font-size: 36px;
}
.morange p sub{
    font-size: 18px;
}
.mgreen p{
    color:#3f4042;
    font-size: 24px;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 29px;
}
.mgreen p span{
    font-size: 72px;
}
.mgreen p sup{
    font-size: 36px;
}
.mgreen p sub{
    font-size: 18px;
}
ul{
    width: 259px;
    list-style: none;
    margin:0 auto;
}
ul li{
    list-style-image: url(images/bullet.png);
    margin-left: 25px;
    line-height: 1.5;
    position: relative;
    color: #aeb3bb;
    font-size: 15px;
    margin-bottom: 2px;
}
ul li::before{
   display: block;
    position: absolute;
    }
ul li:nth-child(2n+1){
    background-color: #edf5fd;
}
ul li:nth-child(2n){
    background-color: #f5f5f6;
}
 .osend input{
     width:254px;
     height: 41px;
     background-color: #ee8129;
     border: 1px solid #ee8129;
     border-bottom: 2px solid #b3560b;
     text-align: center;
     margin: 20px;
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
     color: #ffffff;
}
.bsend input, .gsend input{
    width:254px;
    height: 41px;
    background-color: #3371a6;
    border: 1px solid #3371a6;
    border-bottom: 2px solid #16436a;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}




































