@keyframes walk1
{
    0%
    {
        background-position: 0 0;
    }
    33%
    {
        background-position: -136px 0;
    }
    66%
    {
        background-position: -268px 0;
    }
}
.enemy_1-walk
{
    animation: walk1 1s step-start;
    animation-iteration-count: infinite;
}
.enemy_1-stay
{
    background-position: -400px 0;
}
.enemy_1-ready
{
    background-position: -808px 0;
}
@keyframes hit1
{
    from
    {
        background-position: -944px 0;
    }
    20%
    {
        background-position: -1080px 0;
    }
    to
    {
        background-position: -1216px 0;
    }
}
.enemy_1-hit
{
    animation: hit1 2s step-start;
    animation-iteration-count: 1;
}
@keyframes down1
{
    0%
    {
        background-position: -1352px 0;
    }
    20%
    {
        background-position: -1352px 0;
    }
    100%
    {
        background-position: -1488px 0;
    }
}
.enemy_1-down
{
    animation: down1 2s step-start;
    animation-iteration-count: 1;
}
.enemy_1-dead
{
    background-position: -1610px 0;
}
.enemy_2
{
    height: 288px;

    background-position: 0 -272px;
}
@keyframes walk2
{
    0%
    {
        background-position: 0 -272px;
    }
    33%
    {
        background-position: -128px -272px;
    }
    66%
    {
        background-position: -256px -272px;
    }
}
.enemy_2-walk
{
    animation: walk2 .8s step-start;
    animation-iteration-count: infinite;
}
.enemy_2-stay
{
    background-position: 0 -272px;
}
.enemy_2-ready
{
    background-position: -384px -272px;
}
@keyframes hit2
{
    from
    {
        background-position: -512px -272px;
    }
    20%
    {
        background-position: -768px -272px;
    }
    to
    {
        background-position: -896px -272px;
    }
}
.enemy_2-hit
{
    animation: hit2 2s step-start;
    animation-iteration-count: 1;
}
.enemy_2-down
{
    background-position: -1024px -272px;
}
.enemy_2-dead
{
    background-position: -1024px -272px;
}
.enemy_3
{
    height: 320px;

    background-position: 0 -576px;
}
@keyframes walk3
{
    0%
    {
        background-position: 0 -576px;
    }
    33%
    {
        background-position: -128px -576px;
    }
    66%
    {
        background-position: -256px -576px;
    }
}
.enemy_3-walk
{
    animation: walk3 .8s step-start;
    animation-iteration-count: infinite;
}
.enemy_3-stay
{
    background-position: 0 -576px;
}
.enemy_3-ready
{
    background-position: -384px -576px;
}
@keyframes hit3
{
    from
    {
        background-position: -512px -576px;
    }
    20%
    {
        background-position: -640px -576px;
    }
    to
    {
        background-position: -768px -576px;
    }
}
.enemy_3-hit
{
    animation: hit3 2s step-start;
    animation-iteration-count: 1;
}
.enemy_3-down
{
    background-position: -896px -576px;
}
.enemy_3-dead
{
    background-position: -1022px -576px;
}
.enemy_4
{
    width: 128px;
    height: 256px;

    background-position: 0 -912px;
}
@keyframes walk4
{
    0%
    {
        background-position: 0 -912px;
    }
    33%
    {
        background-position: -128px -912px;
    }
    66%
    {
        background-position: -256px -912px;
    }
}
.enemy_4-walk
{
    animation: walk4 .8s step-start;
    animation-iteration-count: infinite;
}
.enemy_4-stay
{
    background-position: 0 -912px;
}
.enemy_4-ready
{
    background-position: -384px -912px;
}
@keyframes hit4
{
    from
    {
        background-position: -512px -912px;
    }
    20%
    {
        background-position: -640px -912px;
    }
    to
    {
        background-position: -768px -912px;
    }
}
.enemy_4-hit
{
    animation: hit4 2s step-start;
    animation-iteration-count: 1;
}
.enemy_4-down
{
    background-position: -896px -912px;
}
.enemy_4-dead
{
    background-position: -1020px -912px;
}
.enemy_5
{
    height: 276px;

    background-position: 0 -1184px;
}
@keyframes walk5
{
    0%
    {
        background-position: 0 -1184px;
    }
    33%
    {
        background-position: -128px -1184px;
    }
    66%
    {
        background-position: -256px -1184px;
    }
}
.enemy_5-walk
{
    animation: walk5 .8s step-start;
    animation-iteration-count: infinite;
}
.enemy_5-stay
{
    background-position: 0 -1184px;
}
.enemy_5-ready
{
    background-position: -384px -1184px;
}
@keyframes hit5
{
    from
    {
        background-position: -512px -1184px;
    }
    20%
    {
        background-position: -640px -1184px;
    }
    to
    {
        background-position: -768px -1184px;
    }
}
.enemy_5-hit
{
    animation: hit5 2s step-start;
    animation-iteration-count: 1;
}
@keyframes down5
{
    0%
    {
        background-position: -896px -1184px;
    }
    20%
    {
        background-position: -896px -1184px;
    }
    100%
    {
        background-position: -1024px -1184px;
    }
}
.enemy_5-down
{
    animation: down5 2s step-start;
    animation-iteration-count: 1;
}
.enemy_5-dead
{
    background-position: -1024px -1184px;
}
@keyframes pain {
    0% {box-shadow: inset 0 0 200px rgba(255,0,0,1)}
    10% {box-shadow: inset 0 0 200px rgba(255,0,0,1)}
    100% {box-shadow: inset 0 0 200px rgba(255,0,0,0)}
}
.game_hit {
    animation: 3s pain linear;
}
@keyframes victory {
    0% {box-shadow: inset 0 0 200px rgba(0,255,0,1)}
    10% {box-shadow: inset 0 0 200px rgba(0,255,0,1)}
    100% {box-shadow: inset 0 0 200px rgba(0,255,0,0)}
}
.game_victory {
    animation: 3s victory linear;
}